body
{
    font-family: Arial, sans-serif;
    margin: 0.02rem;
    padding: 0.025rem;
    height: auto;
    background-color: whitesmoke; /* For browsers that do not support gradients */
    background-image:
        repeating-linear-gradient(45deg,lightsalmon,yellow 7%,blueviolet 10%);
}

div {
    display: flex;
    flex-direction: column;
}

h1 {
    background: linear-gradient(
        90deg,
        #aaaaaaff,
        #ccccccdd,
        #999999aa,
        #77777766,
        #66666644,
        #55555533,
        #33333322,
        #11111111,
        #33003302
        );
    color: white;
    text-shadow: 0 -0.1em 0.1em grey,
        .1em .2em .2em gray,
        .2em .2em .23em black;
    padding: 1em;
    text-align: center;
}

#ingreso-datos {
    display: flex;
}

#container {
    max-width: 78%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}


label {
    display: inline-flex;
    align-content: flex-start;
    align-items: center;
    vertical-align: baseline;
    margin-bottom: .023em;
    color: black;
    text-shadow:
        .12em -.07em .15em whitesmoke,
        .04em .09em 1em gray,
        0 0 0.2em grey;
}

input[type="number"] {
    display: inline-flex;
    background: conic-gradient(from 45deg at 4% 66%,#0101010d, #787878aa, #ffffffdf);
    padding: 0.33em;
    border-radius: .25em;
    border: 0.1em solid #ccc;
    margin-bottom: .55em;
    flex: 1 1 0;
    margin-right: 1em;
    box-shadow: .1em .2em .2em .1em #00000022;

}
input[type="text"] {
    display: inline-flex;
    background: conic-gradient(from 135deg at 2% 33%,#0101010d, #787878aa, #ffffffdf);
    font-size: larger;
    padding: 0.33em;
    border-radius: .29em;
    border: 1px solid #ccc;
    margin-bottom: .55em;
    flex: 1 1 0;
    margin-right: 1em;
    box-shadow: .1em .2em .2em .1em #00000022;

}

button {
    flex-grow: inherit;
    background-color: #007bffdd;
    color: #fff;
    padding: .75em;
    border: none;
    border-radius: .29em;
    cursor: pointer;
    margin-bottom: .71em;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}


select {
    color:black;
    background: #ffffff77;
    margin:0 .55em .55em 0;
    padding: 0.33em;
    border-radius: .29em;
    border: 1px solid #ccc;
    box-shadow: .2em .3em .2em .1em #00000033;
    z-index: 0;
}


button:hover {
    background-color: #07010fff;
    box-shadow: 0 1.4em 2em rgba(240, 255, 247, 0.7);
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
}

li {
    padding: 1% 1.2% 1% 1.2%;
    flex-grow: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.65vh;
    animation: rebote 350ms cubic-bezier(0.68, -0.6, 0.32, 1.6) 85ms 1 alternate both;
}

.seccion-cuerpo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.seccion-titulo {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contenedor-seccion {
    display: block;
}

#cantidad-unidad {
    width: 11vmax;
}

#borra-lista {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
}

#contenedor-lista {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    flex: 0.86 0 auto;
}

.group-row {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    vertical-align: bottom;
    align-content: space-between;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.nombre-producto {
    font-weight: bold;
    color: #330033;
    text-shadow:
        .1em -0.1em .2em whitesmoke,
        0 0 1em gray,
        0 0 0.2em grey;
    padding: 0.2em 0.5em;
    position: relative;
    z-index: 0;
    border-radius: 1.2em;
    margin-right: 1em;
}
.nombre-producto:before {
    content: "";
    background: linear-gradient(
        135deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
        );
    position: absolute;
    top: -.12em;
    left: -.12em;
    background-size: 400%;
    z-index: -1;
    filter: blur(.12em);
    width: calc(100% + .04em);
    height: calc(100% + .04em);
    animation: glowing-span-85 26s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: .29em;
}
.nombre-producto:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: .29em;
}

.precio-producto {
    color: #330033;
    text-shadow:
        .1em -.1em .2em whitesmoke,
        0 0 1em gray,
        0 0 0.2em grey;
    padding: 0.2em 0.6em;
    position: relative;
    z-index: 0;
    border-radius: .29em;
}
.precio-producto:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
        );
    position: absolute;
    top: -.2em;
    left: -.2em;
    background-size: 400%;
    z-index: -1;
    filter: blur(.12em);
    width: calc(100% + .04em);
    height: calc(100% + .04em);
    animation: glowing-span-85 21s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: .29em;
}
.precio-producto:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: .29em;
}

.status-line {
    margin: .2em .3em .1em .2em;
    text-align: center;
    text-shadow: -.1em .1em 0 #d4d4d434,
        1px -1px 0 #52525266;
}

.suma-total {
    margin-right: 2vw;
    margin-left: 1vw;
    display: inline-block;
    font-weight: bold;
    color: #330033;
    text-shadow:
        .1em -.1em .2em whitesmoke,
        0 0 1em gray,
        0 0 0.2em grey;
}


@keyframes glowing-span-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes rebote {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: scale(0);
    }

    78% {
        animation-timing-function: ease-out;
        opacity: 0.24;
        transform: scale(1);
    }

    85% {
        animation-timing-function: ease-in-out;
        opacity: .27;
        transform: scale(0.7);
    }

    92% {
        animation-timing-function: ease-out;
        opacity: .31;
        transform: scale(1);
    }

    94% {
        animation-timing-function: ease-in-out;
        opacity: 1;
        transform: scale(0.84);
    }

    95% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }

    97% {
        animation-timing-function: ease-in-out;
        transform: scale(0.95);
    }

    100% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}


@media (orientation: landscape) and (min-width: 680px) {
    body {
        font-family: Arial,sans-serif;
        font-size: small;
    }
    h1 {
        background: linear-gradient(
            90deg,
            #aaaaaaff,
            #ccccccdd,
            #999999aa,
            #77777766,
            #66666644,
            #55555533,
            #33333322,
            #11111111,
            #33003302
            );
        color: white;
        text-shadow:
            0 -0.071em 0.05em grey,
            0.1em 0.2em 0.2em gray,
            0.06em 0.12em 0.12em black;
        padding: 0.8em;
        text-align: center;
    }

    #borra-lista {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    #cabecera {
        display: flex;
    }

    #container {
        max-width: 94%;
        margin: 0 auto;
    }

    #form {
        display: flex;
        font-size: medium;
        flex-direction: column;
        align-items: stretch;
    }

    label {
        display: inline-flex;
        align-content: flex-start;
        align-items: center;
        vertical-align: baseline;
        margin-bottom: .45em;
        color: black;
        text-shadow:
            .12em -.07em .2em whitesmoke,
            .04em .09em 1em gray,
            0 0 0.2em grey;
    }

    input[type="number"] {
        display: inline-flex;
        background: conic-gradient(from 45deg at 4% 66%,#0101010d, #787878aa, #ffffffdf);
        padding: .25em;
        border-radius: .29em;
        border: .1em solid #ccc;
        margin-bottom: 1em;
        flex: 1 .01 0;
        margin-right: 1em;
        box-shadow: .1em .2em .2em .1em #00000022;

    }
    input[type="text"] {
        display: inline-flex;
        background: conic-gradient(from 135deg at 2% 33%,#0101010d, #787878aa, #ffffffdf);
        font-size: large;
        padding: .33em;
        border-radius: .29em;
        border: .1em solid #ccc;
        margin-bottom: 1em;
        flex: 1 .01 0;
        margin-right: 1em;
        box-shadow: .1em .2em .2em .1em #00000022;

    }

    #contenedor-lista {
        float: right;
        display: flex;
        flex-direction: column;
        flex: 0.7 1 auto;
        align-items: stretch;
    }

    .contenedor-seccion {
        display: block;
        max-width: 92vw;
    }

    .group-row {
        display: flex;
        flex: 0.85 0 auto;
        vertical-align: bottom;
        justify-content: space-around;
        align-items: stretch;
        flex-direction: row;
        align-content: space-between;
        flex-wrap: wrap;
    }

    .seccion-cuerpo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .seccion-titulo {
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: stretch;
        flex-wrap: wrap;
    }

    #ingreso-datos {
        float: left;
        display: flex;
        flex-direction: row;
        flex: 0.3 0.3 auto;
        justify-content: space-around;
        align-items: stretch;
    }

}