body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: whitesmoke; /* For browsers that do not support gradients */
    background-image:
        repeating-linear-gradient(45deg,lightsalmon,yellow 7%,blueviolet 10%);
}

div {
    display: flex;
    flex-direction: column;
}

h1 {
    background: linear-gradient(
        90deg,
        #aaaaaaff,
        #ccccccdd,
        #999999aa,
        #77777766,
        #66666644,
        #55555533,
        #33333322,
        #11111111,
        #33003302
        );
    color: white;
    text-shadow:
        0px -1px 1px grey,
        1px 2px 2px gray,
        2px 2px 3px black;
    padding: 20px;
    text-align: center;
}

#ingreso-datos {
    display: flex;
}

#container {
    max-width: 78%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    text-shadow:
        2px -3px 2px whitesmoke,
        1 2 1em gray,
        0 0 0.2em grey;
}


label {
    display: inline-flex;
    align-content: flex-start;
    align-items: center;
    vertical-align: baseline;
    margin-bottom: 3px;
    color: black;
    text-shadow:
        .12em -.07em 2px whitesmoke,
        .04em .09em 1em gray,
        0 0 0.2em grey;
}

input[type="number"] {
    display: inline-flex;
    background: conic-gradient(from 45deg at 4% 66%,#0101010d, #787878aa, #ffffffdf);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    flex: 1 1 0;
    margin-right: 10px;
    box-shadow: 1px 2px 2px 1px #00000022;

}
input[type="text"] {
    display: inline-flex;
    background: conic-gradient(from 135deg at 2% 33%,#0101010d, #787878aa, #ffffffdf);
    font-size: larger;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    flex: 1 1 0;
    margin-right: 10px;
    box-shadow: 1px 2px 2px 1px #00000022;

}

button {
    flex-grow: inherit;
    background-color: #007bffdd;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}


select {
    color:black;
    background: #ffffff77;
    margin:0 10px 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 2px 1px #00000033;
    z-index: 0;
}


button:hover {
    background-color: #07010fff;
    box-shadow: 0px 15px 20px rgba(240, 255, 247, 0.7);
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
}

li {
    padding: 1% 1.2% 1% 1.2%;
    flex-grow: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vh;
    animation: rebote 350ms cubic-bezier(0.68, -0.6, 0.32, 1.6) 85ms 1 alternate both;

}

.contenedor-seccion {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
}

#borra-lista {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
}

#contenedor-lista {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
}

.group-row {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    vertical-align: bottom;
    align-content: space-between;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.nombre-producto {
    font-weight: bold;
    color: #330033;
    text-shadow:
        1px -1px 2px whitesmoke,
        0 0 1em gray,
        0 0 0.2em grey;
    padding: 0.2em 0.5em;
    position: relative;
    z-index: 0;
    border-radius: 3px;
    margin-right: 2px;
}
.nombre-producto:before {
    content: "";
    background: linear-gradient(
        135deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
        );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-span-85 26s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 3px;
}
.nombre-producto:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 3px;
}

.precio-producto {
    color: #330033;
    text-shadow:
        1px -1px 2px whitesmoke,
        0 0 1em gray,
        0 0 0.2em grey;
    padding: 0.2em 0.6em;
    position: relative;
    z-index: 0;
    border-radius: 3px;
}
.precio-producto:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
        );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-span-85 21s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 3px;
}
.precio-producto:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 3px;
}

.status-line {
    margin: 2px 3px 1px 2px;
    text-align: center;
    text-shadow: -1px 1px 0 #d4d4d434,
        1px -1px 0 #52525266;
}

.suma-total {
    margin-right: 2vw;
    margin-left: 1vw;
    display: inline-block;
    font-weight: bold;
    color: #330033;
    text-shadow:
        1px -1px 2px whitesmoke,
        0 0 1em gray,
        0 0 0.2em grey;
}


@keyframes glowing-span-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes rebote {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: scale(0);
    }

    78% {
        animation-timing-function: ease-out;
        opacity: 0.24;
        transform: scale(1);
    }

    85% {
        animation-timing-function: ease-in-out;
        opacity: .27;
        transform: scale(0.7);
    }

    92% {
        animation-timing-function: ease-out;
        opacity: .31;
        transform: scale(1);
    }

    94% {
        animation-timing-function: ease-in-out;
        opacity: 1;
        transform: scale(0.84);
    }

    95% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }

    97% {
        animation-timing-function: ease-in-out;
        transform: scale(0.95);
    }

    100% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}


@media (orientation: landscape) and (min-width: 890px) {
    #borra-lista {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    #cabecera {
        display: flex;
    }

    #container {
        max-width: 91%;
        margin: 0 auto;
    }

    #form {
        float: left;
        width: 40%;
    }

    #contenedor-lista {
        float: right;
        width: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .contenedor-seccion {
        display: flex;
        align-content: stretch;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .group-row {
        display: flex;
        flex: 1 0 auto;
        vertical-align: bottom;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: row;
        align-content: stretch;
        flex-wrap: nowrap;
    }

    #ingreso-datos {
        display: flex;
    }

}